.barra_de_navegacion {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    background-color: var(--main-color);
    color: aliceblue;
    border-radius: 0.1px 0px 0px 12px;
}
.menu-horizontal {
    display: flex;
}


.barra_de_navegacion__lista{
    list-style: none;
    text-align: center;

}
.barra_de_navegacion__lista{
    display: flex;
    gap: 1em;
    text-align: center;

}
.barra_de_navegacion__opciones--text{
    font-size: 100%;

}


