:root {/*declaro variables de color para su uso*/
    --main-color: rgb(25, 52, 172);
    --secundary-color: rgb(37, 179, 91);
    --terceary-color: rgb(29, 127, 160);
    --titulos_h2-color: rgb(50, 18, 122);
    --hallowen-color: #fab73d;
}