.acceso{
    /* estableco el elemento en flex con un ancho del tamañao de la pantalla, altura maxima
    al contenido y separacion interno*/
    display: flex;
    width: 100vw;
    height: max-content;
    gap: 1em;
}
.formulario{
    /* estableco el elemento en flex, con direccion en columna, separacion interna y un relleno */
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    
}

.formulario__usuario{
    /* relleno al imput */
    padding: 10px;
}
.formulario__contraceña{
    /* relleno al imput */
    padding: 10px;
}
.formulario__rango{
    /* relleno al imput */
    padding: 5px;
}

.titulo--fondo{
    /* estilos */
    background-color: rgb(59, 179, 139);
    color: aliceblue;
}
.boton__titulo--estilo{
    /* estilos */
    background-color: rgb(59, 179, 139);
    color: aliceblue;
}