.lista_de_tareas{ 
    /* establesco el elemento en flex, con direccion en columna, doy un margen inferior
    y alto, contenido centrado, y estilos */
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 56, 50);
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0px 15px 0px 15px;
    justify-content: center;
}
.lista_de_tareas__titulo{
    /* estilos */
    color: aliceblue; 
    background-color: rgb(196, 44, 44) ;
}
.lista{
    /* establesco el flex y cento el contenido */
    display: flex;
    justify-content: center;
}
.lista__orden{
    /* establesco el flex */
    display: flex;

}
/* quite el punto de las listas */
.lista__opciones{
    /* estilos*/
    color: rgb(23, 235, 94);
    list-style-type: none;

}
