@import url(componentes/barras_de_navecion.css);
@import url(componentes/barras_laterales.css);
@import url(componentes/colores.css);
@import url(componentes/targetas.css);
@import url(componentes/galeria.css);
@import url(componentes/fomularios.css);
@import url(componentes/encabezado.css);
@import url(componentes/listas_de_tareas.css);
@import url(componentes/testimonial.css);
@import url(componentes/footer.css);
@import url(componentes/targetas_de_venta.css);
@import url(componentes/sidebar.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 1em;
}
.seccion_primaria{
    width: 100%;
    display: flex;
    height: 50%;
    border: 2px dashed black;
}
.seccion_secundaria{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
}
.seccion_tres{
    display: flex;
    
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
}
.seccion_cuatro{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_cinco{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_seis{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_siete{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_ocho{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_nueve{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 2em;
    justify-content: center;
}
.seccion_dies{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 2em;
    justify-content: center;
}











