@import url(componentes/barras_de_navecion.css);
@import url(componentes/barras_laterales.css);
@import url(componentes/colores.css);
@import url(componentes/targetas.css);
@import url(componentes/galeria.css);
@import url(componentes/fomularios.css);
@import url(componentes/encabezado.css);
@import url(componentes/listas_de_tareas.css);
@import url(componentes/testimonial.css);
@import url(componentes/footer.css);
@import url(componentes/targetas_de_venta.css);
@import url(componentes/sidebar.css);
*{
    /* reseteo la pagina */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /* establesco el prinsipal como flex con direccion el columna y medidas de ancho y alto del tamaño de la pantalla y relleno interno
     */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 1em;
}
/* determono el tamaño, lo vuelvo flexible y
 le establesco una altura y un borde punteado 
 para diferenciar esta seccion de las otras*/
.seccion_primaria{
    width: 100%;
    display: flex;
    height: 50%;
    border: 2px dashed black;
}
/* establesco la seccion como flex, ajusto los contenedores de padre para que
brinquen hacia abajjo al chocar con el margen  le doy un ancho del 100 de
 ancho de pantalla un borde punteando y a 
 todo elemento dentro de este flex una separacion
*/
.seccion_secundaria{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
}
.seccion_tres{
    /* establexco esta seeccion como flex, con un ancho del maximo de la pantalla
    un alto del maximo del contenido
    un bord punteado y una separacion interna de sus elementos */
    display: flex;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
}
.seccion_cuatro{
    /* establesco la seccion como flex, hago que sus elemntos brinquen 
    al chocar el margen, un sentido de orden, un ancho del total de la pantalla,una altura
    del maximo del contenido borde punteado, separacion interna de sus
    elementis y conetnido centrado  */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_cinco{
    /* establesco la seccion como flex, hago que sus elemntos brinquen 
    al chocar el margen, un sentido de orden, un ancho del total de la pantalla,una altura
    del maximo del contenido borde punteado, separacion interna de sus
    elementis y conetnido centrado  */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_seis{
    /* establesco la seccion como flex, hago que sus elemntos brinquen 
    al chocar el margen,un sentido de orden, un ancho del total de la pantalla,una altura
    del maximo del contenido borde punteado, separacion interna de sus
    elementis y conetnido centrado  */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_siete{
    /* establesco la seccion como flex, hago que sus elemntos brinquen 
    al chocar el margen, un sentido de orden, un ancho del total de la pantalla,una altura
    del maximo del contenido borde punteado, separacion interna de sus
    elementis y conetnido centrado  */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_ocho{
    /* establesco la seccion como flex, hago que sus elemntos brinquen 
    al chocar el margen, un sentido de orden, un ancho del total de la pantalla,una altura
    del maximo del contenido borde punteado, separacion interna de sus
    elementis y conetnido centrado  */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 0.5em;
    justify-content: center;
}
.seccion_nueve{
    /* establesco la seccion como flex, hago que sus elemntos brinquen 
    al chocar el margen, un sentido de orden, un ancho del total de la pantalla,una altura
    del maximo del contenido borde punteado, separacion interna de sus
    elementis y conetnido centrado  */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 2em;
    justify-content: center;
}
.seccion_dies{
    /* establesco la seccion como flex, hago que sus elemntos brinquen 
    al chocar el margen, un sentido de orden, un ancho del total de la pantalla,una altura
    del maximo del contenido borde punteado, separacion interna de sus
    elementis y conetnido centrado  */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100vw;
    height: max-content;
    border: 2px dashed black;
    gap: 2em;
    justify-content: center;
}











